{% extends 'base copy.html' %}
{% load static %}
{% block heading %}Available Products for Purchase{% endblock %}

{% block content %}
<section id="mobile-products" class="product-store position-relative padding-large no-padding-top">
    <div class="container">
        <div class="row">
            <div class="display-header d-flex justify-content-between pb-3">
                <h2 class="display-7 text-dark text-uppercase">Textile Products</h2>
            </div>
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="product-list">
                    <!-- Products will be loaded here dynamically -->
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
</section>
<script>
	window.onload = function () {
		var navbarList = document.querySelector('.user-items ul'); // Selects the ul where user icons are

		{% if request.user.is_authenticated %}
		// Creating and adding the greeting before the search icon
		var userGreeting = document.createElement('li');
		userGreeting.className = 'nav-item pe-3';
		userGreeting.innerHTML = '<span id="hello-msg">Hello, {{ request.user.get_username }}</span>';
		var searchItem = document.querySelector('.search-item'); // Finds the search item
		navbarList.insertBefore(userGreeting, searchItem); // Inserts the greeting before the search item

		// Creating and adding the logout link after the cart icon
		var logoutLink = document.createElement('li');
		logoutLink.className = 'nav-item pe-3';
		logoutLink.innerHTML = '<a href="{% url 'customer_logout' %}">Logout</a>';
		var cartItem = document.querySelector('.cart').closest('li'); // Finds the closest parent <li> of the cart icon
		navbarList.insertBefore(logoutLink, cartItem.nextSibling); // Inserts the logout link after the cart item
		{% endif %}
	};
</script>

<script src="https://cdn.jsdelivr.net/npm/web3/dist/web3.min.js"></script>
<script>
	transactcontractABI = [
		{
			"inputs": [
				{
					"internalType": "uint256",
					"name": "",
					"type": "uint256"
				}
			],
			"name": "DIS",
			"outputs": [
				{
					"internalType": "address",
					"name": "addr",
					"type": "address"
				},
				{
					"internalType": "uint256",
					"name": "id",
					"type": "uint256"
				},
				{
					"internalType": "string",
					"name": "name",
					"type": "string"
				},
				{
					"internalType": "string",
					"name": "place",
					"type": "string"
				}
			],
			"stateMutability": "view",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "uint256",
					"name": "_productID",
					"type": "uint256"
				}
			],
			"name": "Distribute",
			"outputs": [],
			"stateMutability": "nonpayable",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "uint256",
					"name": "",
					"type": "uint256"
				}
			],
			"name": "MAN",
			"outputs": [
				{
					"internalType": "address",
					"name": "addr",
					"type": "address"
				},
				{
					"internalType": "uint256",
					"name": "id",
					"type": "uint256"
				},
				{
					"internalType": "string",
					"name": "name",
					"type": "string"
				},
				{
					"internalType": "string",
					"name": "place",
					"type": "string"
				}
			],
			"stateMutability": "view",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "uint256",
					"name": "_productID",
					"type": "uint256"
				}
			],
			"name": "Manufacturing",
			"outputs": [],
			"stateMutability": "nonpayable",
			"type": "function"
		},
		{
			"inputs": [],
			"name": "Owner",
			"outputs": [
				{
					"internalType": "address",
					"name": "",
					"type": "address"
				}
			],
			"stateMutability": "view",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "uint256",
					"name": "",
					"type": "uint256"
				}
			],
			"name": "ProductStock",
			"outputs": [
				{
					"internalType": "uint256",
					"name": "id",
					"type": "uint256"
				},
				{
					"internalType": "string",
					"name": "name",
					"type": "string"
				},
				{
					"internalType": "string",
					"name": "description",
					"type": "string"
				},
				{
					"internalType": "uint256",
					"name": "price",
					"type": "uint256"
				},
				{
					"internalType": "string",
					"name": "imageHash",
					"type": "string"
				},
				{
					"internalType": "uint256",
					"name": "MANid",
					"type": "uint256"
				},
				{
					"internalType": "uint256",
					"name": "DISid",
					"type": "uint256"
				},
				{
					"internalType": "uint256",
					"name": "RETid",
					"type": "uint256"
				},
				{
					"internalType": "enum ProductManagement.STAGE",
					"name": "stage",
					"type": "uint8"
				}
			],
			"stateMutability": "view",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "uint256",
					"name": "",
					"type": "uint256"
				}
			],
			"name": "RET",
			"outputs": [
				{
					"internalType": "address",
					"name": "addr",
					"type": "address"
				},
				{
					"internalType": "uint256",
					"name": "id",
					"type": "uint256"
				},
				{
					"internalType": "string",
					"name": "name",
					"type": "string"
				},
				{
					"internalType": "string",
					"name": "place",
					"type": "string"
				}
			],
			"stateMutability": "view",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "uint256",
					"name": "_productID",
					"type": "uint256"
				}
			],
			"name": "Retail",
			"outputs": [],
			"stateMutability": "nonpayable",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "address",
					"name": "_address",
					"type": "address"
				},
				{
					"internalType": "string",
					"name": "_name",
					"type": "string"
				},
				{
					"internalType": "string",
					"name": "_place",
					"type": "string"
				}
			],
			"name": "addDistributor",
			"outputs": [],
			"stateMutability": "nonpayable",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "address",
					"name": "_address",
					"type": "address"
				},
				{
					"internalType": "string",
					"name": "_name",
					"type": "string"
				},
				{
					"internalType": "string",
					"name": "_place",
					"type": "string"
				}
			],
			"name": "addManufacturer",
			"outputs": [],
			"stateMutability": "nonpayable",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "string",
					"name": "_name",
					"type": "string"
				},
				{
					"internalType": "string",
					"name": "_description",
					"type": "string"
				},
				{
					"internalType": "uint256",
					"name": "_price",
					"type": "uint256"
				},
				{
					"internalType": "string",
					"name": "_imageHash",
					"type": "string"
				}
			],
			"name": "addProduct",
			"outputs": [],
			"stateMutability": "nonpayable",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "address",
					"name": "_address",
					"type": "address"
				},
				{
					"internalType": "string",
					"name": "_name",
					"type": "string"
				},
				{
					"internalType": "string",
					"name": "_place",
					"type": "string"
				}
			],
			"name": "addRetailer",
			"outputs": [],
			"stateMutability": "nonpayable",
			"type": "function"
		},
		{
			"inputs": [],
			"name": "disCtr",
			"outputs": [
				{
					"internalType": "uint256",
					"name": "",
					"type": "uint256"
				}
			],
			"stateMutability": "view",
			"type": "function"
		},
		{
			"inputs": [],
			"name": "manCtr",
			"outputs": [
				{
					"internalType": "uint256",
					"name": "",
					"type": "uint256"
				}
			],
			"stateMutability": "view",
			"type": "function"
		},
		{
			"inputs": [],
			"name": "productCtr",
			"outputs": [
				{
					"internalType": "uint256",
					"name": "",
					"type": "uint256"
				}
			],
			"stateMutability": "view",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "uint256",
					"name": "_productID",
					"type": "uint256"
				}
			],
			"name": "purchaseProduct",
			"outputs": [],
			"stateMutability": "payable",
			"type": "function"
		},
		{
			"inputs": [],
			"name": "retCtr",
			"outputs": [
				{
					"internalType": "uint256",
					"name": "",
					"type": "uint256"
				}
			],
			"stateMutability": "view",
			"type": "function"
		}
	]
	productcontractABI = [
		{
			"inputs": [
				{
					"internalType": "uint256",
					"name": "",
					"type": "uint256"
				}
			],
			"name": "DIS",
			"outputs": [
				{
					"internalType": "address",
					"name": "addr",
					"type": "address"
				},
				{
					"internalType": "uint256",
					"name": "id",
					"type": "uint256"
				},
				{
					"internalType": "string",
					"name": "name",
					"type": "string"
				},
				{
					"internalType": "string",
					"name": "place",
					"type": "string"
				}
			],
			"stateMutability": "view",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "uint256",
					"name": "",
					"type": "uint256"
				}
			],
			"name": "MAN",
			"outputs": [
				{
					"internalType": "address",
					"name": "addr",
					"type": "address"
				},
				{
					"internalType": "uint256",
					"name": "id",
					"type": "uint256"
				},
				{
					"internalType": "string",
					"name": "name",
					"type": "string"
				},
				{
					"internalType": "string",
					"name": "place",
					"type": "string"
				}
			],
			"stateMutability": "view",
			"type": "function"
		},
		{
			"inputs": [],
			"name": "Owner",
			"outputs": [
				{
					"internalType": "address",
					"name": "",
					"type": "address"
				}
			],
			"stateMutability": "view",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "uint256",
					"name": "",
					"type": "uint256"
				}
			],
			"name": "ProductStock",
			"outputs": [
				{
					"internalType": "uint256",
					"name": "id",
					"type": "uint256"
				},
				{
					"internalType": "string",
					"name": "name",
					"type": "string"
				},
				{
					"internalType": "string",
					"name": "description",
					"type": "string"
				},
				{
					"internalType": "uint256",
					"name": "price",
					"type": "uint256"
				},
				{
					"internalType": "string",
					"name": "imageHash",
					"type": "string"
				},
				{
					"internalType": "uint256",
					"name": "MANid",
					"type": "uint256"
				},
				{
					"internalType": "uint256",
					"name": "DISid",
					"type": "uint256"
				},
				{
					"internalType": "uint256",
					"name": "RETid",
					"type": "uint256"
				},
				{
					"internalType": "enum ProductManagement.STAGE",
					"name": "stage",
					"type": "uint8"
				}
			],
			"stateMutability": "view",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "uint256",
					"name": "",
					"type": "uint256"
				}
			],
			"name": "RET",
			"outputs": [
				{
					"internalType": "address",
					"name": "addr",
					"type": "address"
				},
				{
					"internalType": "uint256",
					"name": "id",
					"type": "uint256"
				},
				{
					"internalType": "string",
					"name": "name",
					"type": "string"
				},
				{
					"internalType": "string",
					"name": "place",
					"type": "string"
				}
			],
			"stateMutability": "view",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "address",
					"name": "_address",
					"type": "address"
				},
				{
					"internalType": "string",
					"name": "_name",
					"type": "string"
				},
				{
					"internalType": "string",
					"name": "_place",
					"type": "string"
				}
			],
			"name": "addDistributor",
			"outputs": [],
			"stateMutability": "nonpayable",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "address",
					"name": "_address",
					"type": "address"
				},
				{
					"internalType": "string",
					"name": "_name",
					"type": "string"
				},
				{
					"internalType": "string",
					"name": "_place",
					"type": "string"
				}
			],
			"name": "addManufacturer",
			"outputs": [],
			"stateMutability": "nonpayable",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "string",
					"name": "_name",
					"type": "string"
				},
				{
					"internalType": "string",
					"name": "_description",
					"type": "string"
				},
				{
					"internalType": "uint256",
					"name": "_price",
					"type": "uint256"
				},
				{
					"internalType": "string",
					"name": "_imageHash",
					"type": "string"
				}
			],
			"name": "addProduct",
			"outputs": [],
			"stateMutability": "nonpayable",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "address",
					"name": "_address",
					"type": "address"
				},
				{
					"internalType": "string",
					"name": "_name",
					"type": "string"
				},
				{
					"internalType": "string",
					"name": "_place",
					"type": "string"
				}
			],
			"name": "addRetailer",
			"outputs": [],
			"stateMutability": "nonpayable",
			"type": "function"
		},
		{
			"inputs": [],
			"name": "disCtr",
			"outputs": [
				{
					"internalType": "uint256",
					"name": "",
					"type": "uint256"
				}
			],
			"stateMutability": "view",
			"type": "function"
		},
		{
			"inputs": [],
			"name": "manCtr",
			"outputs": [
				{
					"internalType": "uint256",
					"name": "",
					"type": "uint256"
				}
			],
			"stateMutability": "view",
			"type": "function"
		},
		{
			"inputs": [],
			"name": "productCtr",
			"outputs": [
				{
					"internalType": "uint256",
					"name": "",
					"type": "uint256"
				}
			],
			"stateMutability": "view",
			"type": "function"
		},
		{
			"inputs": [],
			"name": "retCtr",
			"outputs": [
				{
					"internalType": "uint256",
					"name": "",
					"type": "uint256"
				}
			],
			"stateMutability": "view",
			"type": "function"
		}
	]

	let productcontract;
	let transactcontract;
	let web3;

	if (window.ethereum) {
		web3 = new Web3(window.ethereum);
		initWeb3();
	} else {
		console.error("Please install MetaMask!");
	}

	async function initWeb3() {
		try {
			await window.ethereum.request({ method: 'eth_requestAccounts' });

			productcontract = new web3.eth.Contract(productcontractABI, '0xE17b12feDa856174ddB941915ca5B817A9706017');
			console.log("Web3 initialized and product contract instantiated.");

			transactcontract = new web3.eth.Contract(transactcontractABI, '0xaf3f88ec99702f601a8ce5cb8c36253d76b2cac7')
			console.log('Transaction contract instantiated')
			loadAvailableProducts();
		} catch (error) {
			console.error("Web3 initialization error:", error);
		}
	}

	async function loadAvailableProducts() {
		try {
			const productCount = await productManagementContract.methods.productCtr().call();
			const productsContainer = document.getElementById('product-list');
			productsContainer.innerHTML = '';

			for (let i = 1; i <= productCount; i++) {
				const product = await productManagementContract.methods.ProductStock(i).call();
				if (product.stage === "3") { // "3" corresponds to the Retail stage in the enum
					const ipfsImageUrl = `https://amethyst-realistic-camel-859.mypinata.cloud/ipfs/${product.imageHash}`;
					const productElement = `<div class="col mb-5">
                        <div class="product-card position-relative">
                            <div class="image-holder">
                              <!-- IPFS image loaded here -->
                              <img src="${ipfsImageUrl}" alt="${product.name}" class="img-fluid">
                            </div>
                            <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                <h3 class="card-title text-uppercase">
                                    ${product.name}
                                </h3>
                                <span class="item-price text-primary">${product.price} wei</span>
                            </div>
                            <div class="cart-concern position-absolute">
                                <div class="cart-button d-flex justify-content-center">
                                    <button class="btn btn-medium btn-black" onclick="purchaseProduct(${product.id}, ${product.price})">Buy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    `;
					productsContainer.innerHTML += productElement;
				}
			}
		} catch (error) {
			console.error("Failed to load products:", error);
		}
	}
	async function purchaseProduct(productId, productPrice) {
		try {
			const accounts = await web3.eth.getAccounts();
			await contract.methods.purchaseProduct(productId).send({
				from: accounts[0],
				value: productPrice
			});
			alert(`Purchase successful!`);
			loadAvailableProducts(); // Refresh the list after purchase
		} catch (error) {
			console.error("Purchase failed:", error);
			alert(`Purchase failed: ${error.message}`);
		}
	}
</script>

{% endblock content %}