{% extends 'base.html' %}
{% block heading %}View Product Details{% endblock heading %}

{% block content %}
<div class="row">
    <div class="col">
        


        <div class="card overflow-hidden rounded-2">
            <div class="card-body" id="productDetails">
                <!-- Product Details -->
                <h6 class="fw-semibold" id="productName">Product Name</h6>
                <p id="productDescription">Product Description</p>
                <p id="productPrice">Product Price</p>
                <!-- Manufacturer Details -->
                Manufacturer
                <p id="manufacturerDetails">Manufacturer: Loading...</p>
                <!-- Distributor Details -->
                Distributor
                <p id="distributorDetails">Distributor: Loading...</p>
                <!-- Retailer Details -->
                Retailer
                <p id="retailerDetails">Retailer: Loading...</p>
                <!-- Processing Stage -->
                <b id="processingStage">Current Processing Stage: Loading...</b>
                
              
            </div>
        </div>
        <div>
            <div>
                <form action="{% url 'show_product_details' product_id=0 %}" method="GET" id="productIDForm">
                    <label for="productIDInput">Enter Product ID:</label>
                    <input type="number" class="form-control" id="productIDInput" name="productID" required><br>
                    <button type="submit" class="btn btn-primary" id="viewProductButton">View Product</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/web3/dist/web3.min.js"></script>

<script>
	contractABI = [{
      "inputs": [],
      "stateMutability": "nonpayable",
      "type": "constructor"
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "name": "DIS",
      "outputs": [
        {
          "internalType": "address",
          "name": "addr",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "id",
          "type": "uint256"
        },
        {
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "internalType": "string",
          "name": "place",
          "type": "string"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "name": "MAN",
      "outputs": [
        {
          "internalType": "address",
          "name": "addr",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "id",
          "type": "uint256"
        },
        {
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "internalType": "string",
          "name": "place",
          "type": "string"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [],
      "name": "Owner",
      "outputs": [
        {
          "internalType": "address",
          "name": "",
          "type": "address"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "name": "ProductStock",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "id",
          "type": "uint256"
        },
        {
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "internalType": "string",
          "name": "description",
          "type": "string"
        },
        {
          "internalType": "uint256",
          "name": "price",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "MANid",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "DISid",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "RETid",
          "type": "uint256"
        },
        {
          "internalType": "enum TextileSupplyChain.STAGE",
          "name": "stage",
          "type": "uint8"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "name": "RET",
      "outputs": [
        {
          "internalType": "address",
          "name": "addr",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "id",
          "type": "uint256"
        },
        {
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "internalType": "string",
          "name": "place",
          "type": "string"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [],
      "name": "disCtr",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [],
      "name": "manCtr",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [],
      "name": "productCtr",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [],
      "name": "retCtr",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "_address",
          "type": "address"
        },
        {
          "internalType": "string",
          "name": "_name",
          "type": "string"
        },
        {
          "internalType": "string",
          "name": "_place",
          "type": "string"
        }
      ],
      "name": "addManufacturer",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "_address",
          "type": "address"
        },
        {
          "internalType": "string",
          "name": "_name",
          "type": "string"
        },
        {
          "internalType": "string",
          "name": "_place",
          "type": "string"
        }
      ],
      "name": "addDistributor",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "_address",
          "type": "address"
        },
        {
          "internalType": "string",
          "name": "_name",
          "type": "string"
        },
        {
          "internalType": "string",
          "name": "_place",
          "type": "string"
        }
      ],
      "name": "addRetailer",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "_productID",
          "type": "uint256"
        }
      ],
      "name": "Manufacturing",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "_productID",
          "type": "uint256"
        }
      ],
      "name": "Distribute",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "_productID",
          "type": "uint256"
        }
      ],
      "name": "Retail",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "_productID",
          "type": "uint256"
        }
      ],
      "name": "purchaseProduct",
      "outputs": [],
      "stateMutability": "payable",
      "type": "function",
      "payable": true
    },
    {
      "inputs": [
        {
          "internalType": "string",
          "name": "_name",
          "type": "string"
        },
        {
          "internalType": "string",
          "name": "_description",
          "type": "string"
        },
        {
          "internalType": "uint256",
          "name": "_price",
          "type": "uint256"
        }
      ],
      "name": "addproduct",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "_productID",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_price",
          "type": "uint256"
        }
      ],
      "name": "setProductPrice",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "_productID",
          "type": "uint256"
        }
      ],
      "name": "isProductAvailableForPurchase",
      "outputs": [
        {
          "internalType": "bool",
          "name": "",
          "type": "bool"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "_productID",
          "type": "uint256"
        }
      ],
      "name": "showStage",
      "outputs": [
        {
          "internalType": "string",
          "name": "",
          "type": "string"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    }
  ]
    

	let contract;
    let web3;

    if (window.ethereum) {
        web3 = new Web3(window.ethereum);
    } else {
        console.error("Please install MetaMask!");
    }

    async function initWeb3() {
        if (window.ethereum) {
            try {
                await window.ethereum.request({ method: 'eth_requestAccounts' });
                console.log("Web3 initialized and accounts requested.");
                contract = new web3.eth.Contract(contractABI, '0x65cf33Ef7b25d4365FeEcBd292c359E833d9b4DB');
                console.log("Contract initialized with web3.js");
            } catch (error) {
                console.error("Could not get accounts", error);
            }
        } else {
            console.error("Ethereum object not found. Make sure you have a web3 provider.");
        }
    }

    function showProductDetails() {
        const productID = document.getElementById("productIDInput").value;
        fetch(`/show-product-details/${productID}/`)
        .then(response => response.json())
        .then(data => {
            document.getElementById('productName').innerHTML = `Name: ${data.product_name}`;
            document.getElementById('productDescription').innerHTML = `Description: ${data.product_description}`;
            document.getElementById('productPrice').innerHTML = `Price: ${data.product_price} wei`;


            // Using innerHTML for line breaks, ensure data is sanitized to avoid XSS
            document.getElementById('manufacturerDetails').innerHTML = `Name: ${data.MANname} <br> Place: ${data.MANplace}`;
            document.getElementById('distributorDetails').innerHTML = `Name: ${data.DISname} <br> Place: ${data.DISplace}`;
            document.getElementById('retailerDetails').innerHTML = `Name: ${data.RETname} <br> Place: ${data.RETplace}`;
            document.getElementById('processingStage').innerHTML = data.processing_stage;
        })
        .catch(error => console.error('Error fetching product details:', error));
    }


    window.addEventListener('load', async () => {
        await initWeb3();
    });

    document.getElementById('viewProductButton').addEventListener('click', function(event) {
        event.preventDefault();
        showProductDetails(); 
    });



    document.getElementById('productIDInput').addEventListener('change', function() {
        var baseActionURL = "/show-product-details/"; // Base URL defined
        document.getElementById('productIDForm').action = baseActionURL + this.value + '/';
    });


</script>

{% endblock content %}

<div class="py-6 px-6 text-center">
    <p class="mb-0 fs-4">Design and Developed by <a href="https://adminmart.com/" target="_blank"
            class="pe-1 text-primary text-decoration-underline">AdminMart.com</a> Distributed by <a
            href="https://themewagon.com">ThemeWagon</a></p>
</div>