{% extends 'base.html' %}
{% load static %}
{% block heading %}View Product Details{% endblock %}

{% block content %}
<style>
  .product-image-container {
    width: 30%; /* Adjust this value as needed */
    margin: auto; /* This centers the container horizontally */
  }
  .product-image {
    max-width: 100%;
    height: auto;
    max-height: 300px; /* Adjust max height as needed */
  }
</style>
<div class="row">
  <!-- Column for product image and details -->
  <div class="col-md-12">
      <div class="card overflow-hidden rounded-2">
        <div class="product-image-container">
          <img id="productImage" src="{% static 'images/product-placeholder2.jpg' %}" alt="Product Image" class="card-img-top img-fluid product-image">
        </div>
        <div class="card-body" id="productDetails">
          <div class="row">
              <!-- Left column for product details -->
              <div class="col-md-6">
                  <h6 class="fw-semibold" id="productName">Awaiting Product Name...</h6>
                  <p id="productDescription">Retrieving description...</p>
                  <p id="productPrice">Fetching price information...</p>
              </div>
      
              <!-- Right column for manufacturer, distributor, and retailer details -->
              <div class="col-md-6">
                  <p id="manufacturerDetails">Manufacturer details are being gathered...</p>
                  <p id="distributorDetails">Obtaining distributor information...</p>
                  <p id="retailerDetails">Retrieving retailer data...</p>
              </div>
          </div>
      
          <!-- Full-width row for processing stage -->
          <div class="row">
              <div class="col-12">
                  <b id="processingStage">Determining current processing stage...</b>
              </div>
          </div>
      </div>
      
      </div>
  </div>
</div>


  <!-- Column for the product ID form -->
  <div class="col-md-12">
      <form action="{% url 'show_product_details' product_id=0 %}" method="GET" id="productIDForm" class="mt-3">
          <label for="productIDInput">Enter Product ID:</label>
          <input type="number" class="form-control" id="productIDInput" name="productID" required><br>
          <button type="submit" class="btn btn-primary" id="viewProductButton">View Product</button>
      </form>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/web3/dist/web3.min.js"></script>

<script>
	let contract;
  let web3;

  if (window.ethereum) {
      web3 = new Web3(window.ethereum);
  } else {
      console.error("Please install MetaMask!");
  }

  async function initWeb3() {
    if (window.ethereum) {
        try {
          await window.ethereum.request({ method: 'eth_requestAccounts' });
          console.log("Web3 initialized and accounts requested.");

          const contractABI = [
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"name": "DIS",
		"outputs": [
			{
				"internalType": "address",
				"name": "addr",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "id",
				"type": "uint256"
			},
			{
				"internalType": "string",
				"name": "name",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "place",
				"type": "string"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "_productID",
				"type": "uint256"
			}
		],
		"name": "Distribute",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"name": "MAN",
		"outputs": [
			{
				"internalType": "address",
				"name": "addr",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "id",
				"type": "uint256"
			},
			{
				"internalType": "string",
				"name": "name",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "place",
				"type": "string"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "_productID",
				"type": "uint256"
			}
		],
		"name": "Manufacturing",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "Owner",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"name": "ProductStock",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "id",
				"type": "uint256"
			},
			{
				"internalType": "string",
				"name": "name",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "description",
				"type": "string"
			},
			{
				"internalType": "uint256",
				"name": "price",
				"type": "uint256"
			},
			{
				"internalType": "string",
				"name": "imageHash",
				"type": "string"
			},
			{
				"internalType": "uint256",
				"name": "MANid",
				"type": "uint256"
			},
			{
				"internalType": "uint256",
				"name": "DISid",
				"type": "uint256"
			},
			{
				"internalType": "uint256",
				"name": "RETid",
				"type": "uint256"
			},
			{
				"internalType": "enum ProductManagement.STAGE",
				"name": "stage",
				"type": "uint8"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"name": "RET",
		"outputs": [
			{
				"internalType": "address",
				"name": "addr",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "id",
				"type": "uint256"
			},
			{
				"internalType": "string",
				"name": "name",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "place",
				"type": "string"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "_productID",
				"type": "uint256"
			}
		],
		"name": "Retail",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "_address",
				"type": "address"
			},
			{
				"internalType": "string",
				"name": "_name",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "_place",
				"type": "string"
			}
		],
		"name": "addDistributor",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "_address",
				"type": "address"
			},
			{
				"internalType": "string",
				"name": "_name",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "_place",
				"type": "string"
			}
		],
		"name": "addManufacturer",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "string",
				"name": "_name",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "_description",
				"type": "string"
			},
			{
				"internalType": "uint256",
				"name": "_price",
				"type": "uint256"
			},
			{
				"internalType": "string",
				"name": "_imageHash",
				"type": "string"
			}
		],
		"name": "addProduct",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "_address",
				"type": "address"
			},
			{
				"internalType": "string",
				"name": "_name",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "_place",
				"type": "string"
			}
		],
		"name": "addRetailer",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "disCtr",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "manCtr",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "productCtr",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "_productID",
				"type": "uint256"
			}
		],
		"name": "purchaseProduct",
		"outputs": [],
		"stateMutability": "payable",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "retCtr",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	}
]
		  contract = new web3.eth.Contract(rolecontractABI, '0xaf3f88ec99702f601a8ce5cb8c36253d76b2cac7');
          console.log("Contract initialized.");


        } catch (error) {
            console.error("Could not get accounts", error);
        }
    } else {
        console.error("Ethereum object not found. Make sure you have a web3 provider.");
    }
  }

    function showProductDetails() {
        const productID = document.getElementById("productIDInput").value;
      
        fetch(`/show-product-details/${productID}/`)
        .then(response => response.json())
        .then(data => {
            document.getElementById('productName').innerHTML = `Name: ${data.product_name}`;
            document.getElementById('productDescription').innerHTML = `Description: ${data.product_description}`;
            document.getElementById('productPrice').innerHTML = `Price: ${data.product_price} wei`;
            document.getElementById('manufacturerDetails').innerHTML = `Manufacturer Name: ${data.MANname} <br> Place: ${data.MANplace}`;
            document.getElementById('distributorDetails').innerHTML = `Distributor Name: ${data.DISname} <br> Place: ${data.DISplace}`;
            document.getElementById('retailerDetails').innerHTML = `Retailer Name: ${data.RETname} <br> Place: ${data.RETplace}`;
            document.getElementById('processingStage').innerHTML = data.processing_stage;
            document.getElementById('productImage').src = data.product_image_url;  // Update image source
        })
        .catch(error => console.error('Error fetching product details:', error));
    }


    window.addEventListener('load', async () => {
        await initWeb3();
    });

    document.getElementById('viewProductButton').addEventListener('click', function(event) {
        event.preventDefault();
        showProductDetails(); 
    });



    document.getElementById('productIDInput').addEventListener('change', function() {
        var baseActionURL = "/show-product-details/"; // Base URL defined
        document.getElementById('productIDForm').action = baseActionURL + this.value + '/';
    });


</script>

{% endblock %}

<div class="py-6 px-6 text-center">
    <p class="mb-0 fs-4">Design and Developed by <a href="https://adminmart.com/" target="_blank"
            class="pe-1 text-primary text-decoration-underline">AdminMart.com</a> Distributed by <a
            href="https://themewagon.com">ThemeWagon</a></p>
</div>