{% extends "base user.html" %}

{% block heading %}
Supply Chain Flow:
{% endblock %}

{% block content %}
<p>Product Order -> Manufacturer -> Distributor -> Retailer -> Consumer</p>


<h5 class="card-title fw-semibold mb-4">Products</h5>
<div class="table-responsive">
  <table class="table text-nowrap mb-0 align-middle">
    <thead class="text-dark fs-4">
    <tr>
      <th class="border-bottom-0"><h6 class="fw-semibold mb-0">ID</h6></th>
      <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Name</h6></th>
      <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Description</h6></th>
      <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Price</h6></th>
      <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Processing Stage</h6></th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
    <tr>
      <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{ product.id }}</h6></td>
      <td class="border-bottom-0"><p class="mb-0 fw-normal">{{ product.name }}</p></td>
      <td class="border-bottom-0"><p class="mb-0 fw-normal">{{ product.description }}</p></td>
      <td class="border-bottom-0"><p class="mb-0 fw-normal">{{ product.price }}</p></td>
      <td class="border-bottom-0"><p class="mb-0 fw-normal">{{ product.stage }}</p></td>
    </tr>

    {% endfor %}
    </tbody>
  </table>
</div>

  <div class="card">
    <div class="card-body" style="text-align: center; display: flex; justify-content: center; align-items: center; gap: 10px;">
      <select class="form-select" id="typeSelect" style="width: auto; flex-grow: 1;">
        <option value="Manufacturing">Manufacture</option>
        <option value="Distribute">Distribute</option>
        <option value="Retail">Retail</option>
        <option value="Sold">Sold</option>
      </select>
      <input type="text" class="form-control" id="product_id" name="prod_id" placeholder="Enter Product ID" style="flex-grow: 2;">
      <button class="ethereumButton btn btn-sm btn-primary" style="flex-grow: 1;" id="submitButton">Manufacture</button>
    </div>
  </div>

  <!-- Alerts for Success and Errors -->
  <div class="alert alert-success" id="successAlert" style="display: none;"></div>
  <div class="alert alert-danger" id="errorAlert" style="display: none;"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/web3@1.3.0/dist/web3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const select = document.getElementById('typeSelect');
    const button = document.getElementById('submitButton');
    const productIDInput = document.getElementById("product_id");

    // Set up the initial button text
    button.textContent = select.options[select.selectedIndex].text;

    // Event listener for changes on the select element
    select.addEventListener('change', function() {
      button.textContent = select.options[select.selectedIndex].text;
    });
document.querySelector('.ethereumButton').addEventListener('click', function (e) {
    e.preventDefault(); // Prevent form from submitting immediately

    if (!window.ethereum) {
      alert('MetaMask is not installed!');
      return;
    }
    
  contractABI = [
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "name": "DIS",
      "outputs": [
        {
          "internalType": "address",
          "name": "addr",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "id",
          "type": "uint256"
        },
        {
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "internalType": "string",
          "name": "place",
          "type": "string"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "name": "MAN",
      "outputs": [
        {
          "internalType": "address",
          "name": "addr",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "id",
          "type": "uint256"
        },
        {
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "internalType": "string",
          "name": "place",
          "type": "string"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [],
      "name": "Owner",
      "outputs": [
        {
          "internalType": "address",
          "name": "",
          "type": "address"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "name": "ProductStock",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "id",
          "type": "uint256"
        },
        {
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "internalType": "string",
          "name": "description",
          "type": "string"
        },
        {
          "internalType": "uint256",
          "name": "price",
          "type": "uint256"
        },
        {
          "internalType": "string",
          "name": "imageHash",
          "type": "string"
        },
        {
          "internalType": "uint256",
          "name": "MANid",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "DISid",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "RETid",
          "type": "uint256"
        },
        {
          "internalType": "enum ProductManagement.STAGE",
          "name": "stage",
          "type": "uint8"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "name": "Products",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "name": "RET",
      "outputs": [
        {
          "internalType": "address",
          "name": "addr",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "id",
          "type": "uint256"
        },
        {
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "internalType": "string",
          "name": "place",
          "type": "string"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "_address",
          "type": "address"
        },
        {
          "internalType": "string",
          "name": "_name",
          "type": "string"
        },
        {
          "internalType": "string",
          "name": "_place",
          "type": "string"
        }
      ],
      "name": "addDistributor",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "_address",
          "type": "address"
        },
        {
          "internalType": "string",
          "name": "_name",
          "type": "string"
        },
        {
          "internalType": "string",
          "name": "_place",
          "type": "string"
        }
      ],
      "name": "addManufacturer",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "string",
          "name": "_name",
          "type": "string"
        },
        {
          "internalType": "string",
          "name": "_description",
          "type": "string"
        },
        {
          "internalType": "uint256",
          "name": "_price",
          "type": "uint256"
        },
        {
          "internalType": "string",
          "name": "_imageHash",
          "type": "string"
        }
      ],
      "name": "addProduct",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "_address",
          "type": "address"
        },
        {
          "internalType": "string",
          "name": "_name",
          "type": "string"
        },
        {
          "internalType": "string",
          "name": "_place",
          "type": "string"
        }
      ],
      "name": "addRetailer",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "disCtr",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [],
      "name": "manCtr",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [],
      "name": "productCtr",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "name": "purchases",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [],
      "name": "retCtr",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "_productID",
          "type": "uint256"
        }
      ],
      "name": "Manufacturing",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "_productID",
          "type": "uint256"
        }
      ],
      "name": "Distribute",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "_productID",
          "type": "uint256"
        }
      ],
      "name": "Retail",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "userAddress",
          "type": "address"
        }
      ],
      "name": "findProductsByAddress",
      "outputs": [
        {
          "internalType": "uint256[]",
          "name": "",
          "type": "uint256[]"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "_productID",
          "type": "uint256"
        }
      ],
      "name": "purchaseProduct",
      "outputs": [],
      "stateMutability": "payable",
      "type": "function",
      "payable": true
    }
  ]
  const web3 = new Web3(window.ethereum);
  const contractAddress = '0xF4017D3269A1889049434f895BBB73aa642E8823';

  const contract = new web3.eth.Contract(contractABI, contractAddress);
  const productID = document.getElementById("product_id").value;
  const action = document.getElementById("typeSelect").value;
  const select = document.getElementById('typeSelect');
  const button = document.getElementById('submitButton');
  
  button.textContent = select.options[select.selectedIndex].text;
  if (!productID) {
	displayAlert('errorAlert', 'Product ID is required');
	return;
	}

  window.ethereum.request({ method: 'eth_requestAccounts' })
    .then(async accounts => {
      const account = accounts[0];
	  try {
		const tx = await contract.methods[action](productID).send({ from: accounts[0] });
        displayAlert('successAlert', `Successfully performed '${action}' for Product ID ${productID}.`);
	} catch (error) {
        console.error("Error during transaction:", error);
        displayAlert('errorAlert', `Error: ${error.message}`);
    }


	function displayAlert(alertId, message) {
		const alert = document.getElementById(alertId);
		alert.textContent = message;
		alert.style.display = 'block';
		setTimeout(() => { alert.style.display = 'none'; }, 5000);
	}
	});
	// Event listener for changes on the select element
	select.addEventListener('change', function() {
    // Update the button text based on the new selected option
    button.textContent = select.options[select.selectedIndex].text;
  });
});
});
</script>
{% endblock %}
