{% extends 'base user.html' %}
{% load static %}
{% block heading %}View Orders{% endblock heading %}

{% block content %}
<button id="connectButton" onclick="connectWallet()" class="btn btn-outline-primary btn-sm">Connect Ethereum Wallet</button>
<br><p5 class="card-title fw-semibold mb-4" id="currentAccount">Current Account Address:</p5><br>
<div class="container my-5">
    <div class="row"></div> <!-- Products will be loaded into this row -->
</div>
<div id="products"></div>

<script src="https://cdn.jsdelivr.net/npm/web3/dist/web3.min.js"></script>
<script src="{% static 'js/app.js' %}"></script>
{% endblock content %}
